.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  padding: 0;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

.logo {
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  width: 228px;
  height: 32px;
  z-index: 2;
}

.header__title {
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin-left: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header__subtitle {
  width: 388px;
  position: absolute;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-left: 64px;
  align-self: flex-end;
}

.header__link {
  text-decoration: none;
}

.header__main-illustration {
  height: 765px;
  width: 608px;
  display: flex;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0;
  order: 1;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  background-color: #2f80ed;
  background-size: cover;
  top: 64px;
  right: 0;


}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
